<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pizza.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-VTQ42KP;Initial Catalog=Pizza;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>